# Vehicle price prediction using Machine Learning

Rusty Bargain used car sales service is developing an app to attract new customers. In that app, you can quickly find out the market value of your car. You have access to historical data: technical specifications, trim versions, and prices. You need to build the model to determine the value. 

Rusty Bargain is interested in:

- the quality of the prediction;
- the speed of the prediction;
- the time required for training

**Task Statement**

- Develop models to predict price of used car. We are to train different models with various hyperparameters (You should make at least two different models, but more is better. Remember, various implementations of gradient boosting don't count as different models.) The main point of this step is to compare gradient boosting methods with random forest, decision tree, and linear regression.
- Analyze the speed and quality of the models.

## Data description

The dataset is stored in file `/datasets/car_data.csv`

**Features**

- DateCrawled — date profile was downloaded from the database
- VehicleType — vehicle body type
- RegistrationYear — vehicle registration year
- Gearbox — gearbox type
- Power — power (hp)
- Model — vehicle model
- Mileage — mileage (measured in km due to dataset's regional specifics)
- RegistrationMonth — vehicle registration month
- FuelType — fuel type
- Brand — vehicle brand
- NotRepaired — vehicle repaired or not
- DateCreated — date of profile creation
- NumberOfPictures — number of vehicle pictures
- PostalCode — postal code of profile owner (user)
- LastSeen — date of the last activity of the user

**Target**
- Price — price (Euro)

## Objectives

The objectives of this project is to:
- Develop a model to predict the price of used car
- Analyze the speed and quality of prediction, time required for training.

<hr>

 # Table of contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#open_the_data">Open the data file and study the general information</a></li>
        <li><a href="#prepare_the_data">Data preparation</a></li>
        <li><a href="#model_training">Model training</a></li>
        <li><a href="#model_analysis">Model analysis</a></li>
        <li><a href="#conclusion">Conclusion</a></li>
    </ol>
</div>
<br>
<hr>

<div id="open_the_data">
    <h2>Open the data file and study the general information</h2> 
</div>

We require the following libraries: *pandas* and *numpy* for data preprocessing and manipulation, *matplotlib* and *seaborn* for visualization, and *sklearn* for machine learning algorithm development.

In [1]:
# import pandas and numpy for data preprocessing and manipulation
import numpy as np
import pandas as pd
import random

# import time for time computation
import timeit

# matplotlib and seaborn for visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import sklearn.linear_model
import sklearn.metrics
import sklearn.neighbors
import sklearn.preprocessing

from sklearn.model_selection import train_test_split

from IPython.display import display

print('Project libraries has been successfully been imported!')

Project libraries has been successfully been imported!

In [17]:
# read the data
try:
    df = pd.read_csv('https://code.s3.yandex.net/datasets/car_data.csv')
except:
    df = pd.read_csv('C:/Users/hotty/Desktop/Practicum by Yandex/Projects/Numerical Methods/car_data.csv')
print('Data has been read correctly!')

Data has been read correctly!

In [3]:
# function to determine if columns in file have null values
def get_percent_of_na(df, num):
    count = 0
    df = df.copy()
    s = (df.isna().sum() / df.shape[0])
    for column, percent in zip(s.index, s.values):
        num_of_nulls = df[column].isna().sum()
        if num_of_nulls == 0:
            continue
        else:
            count += 1
        print('Column {} has {:.{}%} percent of Nulls, and {} of nulls'.format(column, percent, num, num_of_nulls))
    if count != 0:
        print("\033[1m" + 'There are {} columns with NA.'.format(count) + "\033[0m")
    else:
        print()
        print("\033[1m" + 'There are no columns with NA.' + "\033[0m")
        
# function to display general information about the dataset
def get_info(df):
    """
    This function uses the head(), info(), describe(), shape() and duplicated() 
    methods to display the general information about the dataset.
    """
    print("\033[1m" + '-'*100 + "\033[0m")
    print('Head:')
    print()
    display(df.head())
    print('-'*100)
    print('Info:')
    print()
    display(df.info())
    print('-'*100)
    print('Describe:')
    print()
    display(df.describe())
    print('-'*100)
    display(df.describe(include='object'))
    print()
    print('Columns with nulls:')
    display(get_percent_of_na(df, 4))  # check this out
    print('-'*100)
    print('Shape:')
    print(df.shape)
    print('-'*100)
    print('Duplicated:')
    print("\033[1m" + 'We have {} duplicated rows.\n'.format(df.duplicated().sum()) + "\033[0m")
    print()

In [4]:
# study the general information about the dataset 
print('General information about the dataframe')
get_info(df)

General information about the dataframe
----------------------------------------------------------------------------------------------------
Head:

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Mileage,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
0,24/03/2016 11:52,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,24/03/2016 00:00,0,70435,07/04/2016 03:16
1,24/03/2016 10:58,18300,coupe,2011,manual,190,NaN,125000,5,gasoline,audi,yes,24/03/2016 00:00,0,66954,07/04/2016 01:46
2,14/03/2016 12:52,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,NaN,14/03/2016 00:00,0,90480,05/04/2016 12:47
3,17/03/2016 16:54,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,17/03/2016 00:00,0,91074,17/03/2016 17:40
4,31/03/2016 17:25,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,31/03/2016 00:00,0,60437,06/04/2016 10:17

----------------------------------------------------------------------------------------------------
Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        354369 non-null  object
 1   Price              354369 non-null  int64
 2   VehicleType        316879 non-null  object
 3   RegistrationYear   354369 non-null  int64
 4   Gearbox            334536 non-null  object
 5   Power              354369 non-null  int64
 6   Model              334664 non-null  object
 7   Mileage            354369 non-null  int64
 8   RegistrationMonth  354369 non-null  int64
 9   FuelType           321474 non-null  object
 10  Brand              354369 non-null  object
 11  NotRepaired        283215 non-null  object
 12  DateCreated        354369 non-null  object
 13  NumberOfPictures   354369 non-null  int64
 14  PostalCode         354369 non-null  int64
 15  LastSeen           354369 non-null  object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB

None

----------------------------------------------------------------------------------------------------
Describe:

,Price,RegistrationYear,Power,Mileage,RegistrationMonth,NumberOfPictures,PostalCode
count,354369.000000,354369.000000,354369.000000,354369.000000,354369.000000,354369.0,354369.000000
mean,4416.656776,2004.234448,110.094337,128211.172535,5.714645,0.0,50508.689087
std,4514.158514,90.227958,189.850405,37905.341530,3.726421,0.0,25783.096248
min,0.000000,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1050.000000,1999.000000,69.000000,125000.000000,3.000000,0.0,30165.000000
50%,2700.000000,2003.000000,105.000000,150000.000000,6.000000,0.0,49413.000000
75%,6400.000000,2008.000000,143.000000,150000.000000,9.000000,0.0,71083.000000
max,20000.000000,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.000000

----------------------------------------------------------------------------------------------------

,DateCrawled,VehicleType,Gearbox,Model,FuelType,Brand,NotRepaired,DateCreated,LastSeen
count,354369,316879,334536,334664,321474,354369,283215,354369,354369
unique,15470,8,2,250,7,40,2,109,18592
top,05/03/2016 14:25,sedan,manual,golf,petrol,volkswagen,no,03/04/2016 00:00,07/04/2016 07:16
freq,66,91457,268251,29232,216352,77013,247161,13719,654

Columns with nulls:
Column VehicleType has 10.5794% percent of Nulls, and 37490 of nulls
Column Gearbox has 5.5967% percent of Nulls, and 19833 of nulls
Column Model has 5.5606% percent of Nulls, and 19705 of nulls
Column FuelType has 9.2827% percent of Nulls, and 32895 of nulls
Column NotRepaired has 20.0791% percent of Nulls, and 71154 of nulls
There are 5 columns with NA.

None

----------------------------------------------------------------------------------------------------
Shape:
(354369, 16)
----------------------------------------------------------------------------------------------------
Duplicated:
We have 262 duplicated rows.

**Conclusion**

By looking at the general information on the data, we can see that the data contains 354,369 rows and 16 columns. There are 5 columns with missing values. The missing values in the dataset are missing at random (MAR). In some cases, these missing values are visible error during data compilation, or data omission. Since these columns are important to our model building process, we will look for a way to fill-in the missing values. From the data, we have 262 duplicated rows which we have to deal with. We also need to convert datatype for some features.

<div id="prepare_the_data">
    <h2>Data preparation</h2> 
</div>

The first step in data preparation is to replace the column names.

### Replace the column names

In [18]:
# rename columns
df = df.rename(columns={'DateCrawled': 'date_crawled', 'Price': 'price', 'VehicleType': 'vehicle_type', 'RegistrationYear': 'registration_year', 'Gearbox': 'gearbox',
       'Power': 'power', 'Model': 'model', 'Mileage': 'mileage', 'RegistrationMonth': 'registration_month', 'FuelType': 'fuel_type', 'Brand': 'brand',
       'NotRepaired': 'not_repaired', 'DateCreated': 'date_created', 'NumberOfPictures': 'number_of_pictures', 'PostalCode': 'postal_code', 'LastSeen': 'last_seen'})

### Dealing with missing values

In [19]:
# function to calculate the percentage of missing values
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [20]:
# check missing data
missing_values_table(df)

Your selected dataframe has 16 columns.
There are 5 columns that have missing values.

              Missing Values  % of Total Values
not_repaired           71154               20.1
vehicle_type           37490               10.6
fuel_type              32895                9.3
gearbox                19833                5.6
model                  19705                5.6

We can see that `not_repaired` has 20.1% missing values, while `vehicle_type`, `fuel_type`, `gearbox` and `model` have less than 10% missing value. We can decide to drop missing values less than 10% but a better way to deal with the missing value is to fill it systematically using the property of the data.

#### Prepare `vehicle_type` features

To replace missing values in the `vehicle_type` column, we first get the unique values of vehicle type, then get the list of possible model for those vehicle type. We then choose a random value from the list (excluding the nan values) and assign that to the missing vehicle type for that model in the dataframe. For unique vehicle type with an empty list, we use the most frequent value in the model column.

In [13]:
# function to replace missing values
def replace_missing_value(unique_value_feature, col_to_replace):  
    """
    This function is used to replace missing value in a column
    using possible unique value feature for those missing values    
    """
    # get unique value of feature from this dataframe
    for value in df[unique_value_feature].unique().tolist():
        # get specific value of features using possible value from column value to replace
        specific_value_df = df[df[unique_value_feature] == value].dropna()[col_to_replace]    
        value_replacement_list = specific_value_df.unique().tolist()
        # for the missing value, assign a random choice of the replacement value for that unknown value
        if value_replacement_list != []:
            df.loc[(df[unique_value_feature] == value) & (df[col_to_replace] != df[col_to_replace]), col_to_replace] = random.choice(value_replacement_list)
        else:
            df.loc[(df[unique_value_feature] == value) & (df[col_to_replace] != df[col_to_replace]), col_to_replace] = df[col_to_replace].mode()

In [14]:
# replace missing value in `vehicle type` column
replace_missing_value('model', 'vehicle_type')

#### Prepare `fuel_type` features

In [22]:
for value in df['model'].unique().tolist():
    specific_value_df = df[df['model'] == value].dropna()['vehicle_type']
    value_replacement_list = specific_value_df.unique().tolist()
    # for the missing value, assign a random choice of the replacement value for that unknown value
    if value_replacement_list != []:
        df.loc[(df['model'] == value) & (df['vehicle_type'] != df['vehicle_type']), 'vehicle_type'] = random.choice(value_replacement_list)
    else:
        df.loc[(df['model'] == value) & (df['vehicle_type'] != df['vehicle_type']), 'vehicle_type'] = df['vehicle_type'].mode()

In [21]:
df.head(30)

,date_crawled,price,vehicle_type,registration_year,gearbox,power,model,mileage,registration_month,fuel_type,brand,not_repaired,date_created,number_of_pictures,postal_code,last_seen
0,24/03/2016 11:52,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,24/03/2016 00:00,0,70435,07/04/2016 03:16
1,24/03/2016 10:58,18300,coupe,2011,manual,190,NaN,125000,5,gasoline,audi,yes,24/03/2016 00:00,0,66954,07/04/2016 01:46
2,14/03/2016 12:52,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,NaN,14/03/2016 00:00,0,90480,05/04/2016 12:47
3,17/03/2016 16:54,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,17/03/2016 00:00,0,91074,17/03/2016 17:40
4,31/03/2016 17:25,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,31/03/2016 00:00,0,60437,06/04/2016 10:17
5,04/04/2016 17:36,650,sedan,1995,manual,102,3er,150000,10,petrol,bmw,yes,04/04/2016 00:00,0,33775,06/04/2016 19:17
6,01/04/2016 20:48,2200,convertible,2004,manual,109,2_reihe,150000,8,petrol,peugeot,no,01/04/2016 00:00,0,67112,05/04/2016 18:18
7,21/03/2016 18:54,0,sedan,1980,manual,50,other,40000,7,petrol,volkswagen,no,21/03/2016 00:00,0,19348,25/03/2016 16:47
8,04/04/2016 23:42,14500,bus,2014,manual,125,c_max,30000,8,petrol,ford,NaN,04/04/2016 00:00,0,94505,04/04/2016 23:42
9,17/03/2016 10:53,999,small,1998,manual,101,golf,150000,0,NaN,volkswagen,NaN,17/03/2016 00:00,0,27472,31/03/2016 17:17
10,26/03/2016 19:54,2000,sedan,2004,manual,105,3_reihe,150000,12,petrol,mazda,no,26/03/2016 00:00,0,96224,06/04/2016 10:45
11,07/04/2016 10:06,2799,wagon,2005,manual,140,passat,150000,12,gasoline,volkswagen,yes,07/04/2016 00:00,0,57290,07/04/2016 10:25
12,15/03/2016 22:49,999,wagon,1995,manual,115,passat,150000,11,petrol,volkswagen,NaN,15/03/2016 00:00,0,37269,01/04/2016 13:16
13,21/03/2016 21:37,2500,wagon,2004,manual,131,passat,150000,2,NaN,volkswagen,no,21/03/2016 00:00,0,90762,23/03/2016 02:50
14,21/03/2016 12:57,17999,suv,2011,manual,190,navara,70000,3,gasoline,nissan,no,21/03/2016 00:00,0,4177,06/04/2016 07:45
15,11/03/2016 21:39,450,small,1910,NaN,0,ka,5000,0,petrol,ford,NaN,11/03/2016 00:00,0,24148,19/03/2016 08:46
16,01/04/2016 12:46,300,NaN,2016,NaN,60,polo,150000,0,petrol,volkswagen,NaN,01/04/2016 00:00,0,38871,01/04/2016 12:46
17,20/03/2016 10:25,1750,small,2004,auto,75,twingo,150000,2,petrol,renault,no,20/03/2016 00:00,0,65599,06/04/2016 13:16
18,23/03/2016 15:48,7550,bus,2007,manual,136,c_max,150000,6,gasoline,ford,no,23/03/2016 00:00,0,88361,05/04/2016 18:45
19,01/04/2016 22:55,1850,bus,2004,manual,102,a_klasse,150000,1,petrol,mercedes_benz,no,01/04/2016 00:00,0,49565,05/04/2016 22:46
20,01/04/2016 19:56,10400,coupe,2009,manual,160,scirocco,100000,4,petrol,volkswagen,no,01/04/2016 00:00,0,75365,05/04/2016 16:45
21,27/03/2016 11:38,3699,sedan,2002,auto,231,5er,150000,7,petrol,bmw,no,27/03/2016 00:00,0,68309,07/04/2016 06:44
22,23/03/2016 14:52,2900,NaN,2018,manual,90,meriva,150000,5,petrol,opel,no,23/03/2016 00:00,0,49716,31/03/2016 01:16
23,12/03/2016 19:43,450,small,1997,manual,50,arosa,150000,5,petrol,seat,no,12/03/2016 00:00,0,9526,21/03/2016 01:46
24,13/03/2016 20:40,500,sedan,1990,manual,118,other,150000,10,petrol,mercedes_benz,yes,13/03/2016 00:00,0,35390,13/03/2016 20:40
25,18/03/2016 21:44,2500,wagon,2002,auto,193,5er,150000,9,gasoline,bmw,yes,18/03/2016 00:00,0,73765,18/03/2016 21:44
26,10/03/2016 19:38,5555,NaN,2017,manual,125,c4,125000,4,NaN,citroen,no,10/03/2016 00:00,0,31139,16/03/2016 09:16
27,07/03/2016 12:51,6900,sedan,2008,manual,99,civic,60000,11,petrol,honda,no,07/03/2016 00:00,0,12621,26/03/2016 09:44
28,09/03/2016 11:56,1990,bus,1981,manual,50,transporter,5000,1,petrol,volkswagen,no,09/03/2016 00:00,0,87471,10/03/2016 07:44
29,08/03/2016 19:55,690,small,2003,manual,60,punto,150000,3,petrol,fiat,no,08/03/2016 00:00,0,86199,09/03/2016 11:45

In [23]:
df.head(30)

,date_crawled,price,vehicle_type,registration_year,gearbox,power,model,mileage,registration_month,fuel_type,brand,not_repaired,date_created,number_of_pictures,postal_code,last_seen
0,24/03/2016 11:52,480,bus,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,24/03/2016 00:00,0,70435,07/04/2016 03:16
1,24/03/2016 10:58,18300,coupe,2011,manual,190,NaN,125000,5,gasoline,audi,yes,24/03/2016 00:00,0,66954,07/04/2016 01:46
2,14/03/2016 12:52,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,NaN,14/03/2016 00:00,0,90480,05/04/2016 12:47
3,17/03/2016 16:54,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,17/03/2016 00:00,0,91074,17/03/2016 17:40
4,31/03/2016 17:25,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,31/03/2016 00:00,0,60437,06/04/2016 10:17
5,04/04/2016 17:36,650,sedan,1995,manual,102,3er,150000,10,petrol,bmw,yes,04/04/2016 00:00,0,33775,06/04/2016 19:17
6,01/04/2016 20:48,2200,convertible,2004,manual,109,2_reihe,150000,8,petrol,peugeot,no,01/04/2016 00:00,0,67112,05/04/2016 18:18
7,21/03/2016 18:54,0,sedan,1980,manual,50,other,40000,7,petrol,volkswagen,no,21/03/2016 00:00,0,19348,25/03/2016 16:47
8,04/04/2016 23:42,14500,bus,2014,manual,125,c_max,30000,8,petrol,ford,NaN,04/04/2016 00:00,0,94505,04/04/2016 23:42
9,17/03/2016 10:53,999,small,1998,manual,101,golf,150000,0,NaN,volkswagen,NaN,17/03/2016 00:00,0,27472,31/03/2016 17:17
10,26/03/2016 19:54,2000,sedan,2004,manual,105,3_reihe,150000,12,petrol,mazda,no,26/03/2016 00:00,0,96224,06/04/2016 10:45
11,07/04/2016 10:06,2799,wagon,2005,manual,140,passat,150000,12,gasoline,volkswagen,yes,07/04/2016 00:00,0,57290,07/04/2016 10:25
12,15/03/2016 22:49,999,wagon,1995,manual,115,passat,150000,11,petrol,volkswagen,NaN,15/03/2016 00:00,0,37269,01/04/2016 13:16
13,21/03/2016 21:37,2500,wagon,2004,manual,131,passat,150000,2,NaN,volkswagen,no,21/03/2016 00:00,0,90762,23/03/2016 02:50
14,21/03/2016 12:57,17999,suv,2011,manual,190,navara,70000,3,gasoline,nissan,no,21/03/2016 00:00,0,4177,06/04/2016 07:45
15,11/03/2016 21:39,450,small,1910,NaN,0,ka,5000,0,petrol,ford,NaN,11/03/2016 00:00,0,24148,19/03/2016 08:46
16,01/04/2016 12:46,300,other,2016,NaN,60,polo,150000,0,petrol,volkswagen,NaN,01/04/2016 00:00,0,38871,01/04/2016 12:46
17,20/03/2016 10:25,1750,small,2004,auto,75,twingo,150000,2,petrol,renault,no,20/03/2016 00:00,0,65599,06/04/2016 13:16
18,23/03/2016 15:48,7550,bus,2007,manual,136,c_max,150000,6,gasoline,ford,no,23/03/2016 00:00,0,88361,05/04/2016 18:45
19,01/04/2016 22:55,1850,bus,2004,manual,102,a_klasse,150000,1,petrol,mercedes_benz,no,01/04/2016 00:00,0,49565,05/04/2016 22:46
20,01/04/2016 19:56,10400,coupe,2009,manual,160,scirocco,100000,4,petrol,volkswagen,no,01/04/2016 00:00,0,75365,05/04/2016 16:45
21,27/03/2016 11:38,3699,sedan,2002,auto,231,5er,150000,7,petrol,bmw,no,27/03/2016 00:00,0,68309,07/04/2016 06:44
22,23/03/2016 14:52,2900,sedan,2018,manual,90,meriva,150000,5,petrol,opel,no,23/03/2016 00:00,0,49716,31/03/2016 01:16
23,12/03/2016 19:43,450,small,1997,manual,50,arosa,150000,5,petrol,seat,no,12/03/2016 00:00,0,9526,21/03/2016 01:46
24,13/03/2016 20:40,500,sedan,1990,manual,118,other,150000,10,petrol,mercedes_benz,yes,13/03/2016 00:00,0,35390,13/03/2016 20:40
25,18/03/2016 21:44,2500,wagon,2002,auto,193,5er,150000,9,gasoline,bmw,yes,18/03/2016 00:00,0,73765,18/03/2016 21:44
26,10/03/2016 19:38,5555,small,2017,manual,125,c4,125000,4,NaN,citroen,no,10/03/2016 00:00,0,31139,16/03/2016 09:16
27,07/03/2016 12:51,6900,sedan,2008,manual,99,civic,60000,11,petrol,honda,no,07/03/2016 00:00,0,12621,26/03/2016 09:44
28,09/03/2016 11:56,1990,bus,1981,manual,50,transporter,5000,1,petrol,volkswagen,no,09/03/2016 00:00,0,87471,10/03/2016 07:44
29,08/03/2016 19:55,690,small,2003,manual,60,punto,150000,3,petrol,fiat,no,08/03/2016 00:00,0,86199,09/03/2016 11:45

<div id="model_training">
    <h2>Model training</h2> 
</div>

<div id="model_analysis">
    <h2>Model analysis</h2> 
</div>

<div id="conclusion">
    <h2>Conclusion</h2> 
</div>

# Checklist

Type 'x' to check. Then press Shift+Enter.

- [x]  Jupyter Notebook is open
- [ ]  Code is error free
- [ ]  The cells with the code have been arranged in order of execution
- [ ]  The data has been downloaded and prepared
- [ ]  The models have been trained
- [ ]  The analysis of speed and quality of the models has been performed